<div class="container px-0">
  <div class="row">
    <div class="col-8 col-md-8 col-sm-10 mx-auto px-0 my-5">
      <table class="table">
        <%# @posts.each do |post| %>
        <tr>
          <td><%#= order.post.name %></td>
        </tr>
        <tr>
          <td><%#= order.post.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
        </tr>
        <%# end %>
      </table>
      購入履歴一覧を表示し、<br>
      購入したものはぼかしがなくなってダウンロードできる
    </div>
  </div>
</div>