<div class="container px-0">
  <div class="row">
    <div class="col-11 col-md-11 col-sm-12 mx-auto px-0 my-5">
      <%= @post.name %>
      <%= @post.introduction %>
      <%= @post.genre.name %>
      <%= @post.price %>
    </div>
  </div>
</div