<div class="login">
  <div class="login-head">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
    <h1 class="login-title">管理者ログイン</h1>
  </div>

  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group" style="margin: 0">
        <%= f.email_field :email, placeholder: "メールアドレス", autocomplete: "email", class: "form-input" %>
      </div>
      <div class="form-group" style="margin: 0">
        <%= f.password_field :password, placeholder: "パスワード", autocomplete: "current-password", class: "form-input" %>
      </div>
      <%= f.submit "ログイン", class: "login-btn" %>
    <% end %>
  </div>
</div>





  <%# if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end %>


