<div class="container px-0">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mx-auto px-0 my-5">
      <div class="mx-5 mb-3"><h3>フォロワー</h3></div>
      <% if @users.exists? %>
        <%= render "public/users/index", users: @users %>
      <% else %>
        <h4 class="text-center my-3">ユーザーがいません</h4>
      <% end %>
    </div>
  </div>
</div>
