<div class="container px-2">
  <div class="row">
    <div class="col-10 col-md-11 col-sm-12 mx-auto px-0 my-5">

      <div class="mx-3" style="text-align: center">

        <h3 style="margin-bottom: 30px" class="mb-6 top-title">ABOUT</h3>
        <h6 style="margin: 50px 3px 3px 3px">
          〇〇は誰でもデジタルデータの売買ができるサイトです。<br>
          　自分で書いたイラストや写真に金額を付けて出品することができます。<br>
        </h6>
        <div class="instructon col-11 col-md-11 col-sm-12 mx-auto px-0 my-5" style="margin: 40px; text-align: left">
          <div class="menu">
            <h3 style="margin: 20px 0 5px 35px">
              1．出品について <i class="fa-solid fa-arrow-pointer"></i>
            </h3>
            <ul class="hidden">
              <li>ヘッダーの出品から新しく商品を出品することができます。</li>
              <li>出品する際は、フォーム内をすべて入力してください。</li>
              <li>一覧では出品されている商品をすべて確認することができます。</li>
              <li>
                自分で出品した商品以外にはぼかしが入っていますが、<br>
                購入後ぼかしのないものをダウンロードすることができます。
              </li>
              <li>購入後の商品はマイページから確認することができます。</li>
            </ul>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>