<div class="container px-0">
  <div class="row">
    <div class="col-11 col-md-11 col-sm-11 mx-auto px-0 my-5">
      <table class="table table-hover table-inverse table-show">
        <thead>
          <tr>
            <th width="15%">商品画像</th>
            <th>商品名</th>
            <th>金額</th>
            <th>購入日</th>
          </tr>
        </thead>
        <tbody>
        <% @order_posts.each do |post| %>
          <tr style="cursor: pointer" onclick="window.location.href='<%= post_path(post) %>'" onmouseover="this.style.backgroundColor='#dcdcdc'" onmouseout="this.style.backgroundColor='#fff'">
            <td><%= image_tag post.get_image, class: "post-mini-img" %></td>
            <td><%= post.name %></td>
            <td><%= post.price.to_s(:delimited) %></td>
            <td>日付</td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
