<div class="container px-0">
  <div class="row">
    <div class="col-8 col-md-8 col-sm-10 mx-auto px-0 my-5">
      <table class="table">
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
        </tr>
        <tr>
          <td><%= order.post.name %></td>
        </tr>
        <% end %>
      </table>
      あああああああああ
    </div>
  </div>
</div>