<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
      <div class="text-center">
        <h4><strong>本当に退会しますか？</strong></h4>
        <p>
          退会すると、登録情報や<br>
          これまでの出品がすべて削除されます。<br>
          退会する場合は、退会するをクリックしてください。
        </p>
      </div>
      <div style="margin: 10px" class="d-flex justify-content-center mb-3">
        <%= link_to "退会しない", edit_user_path, class: "btn btn-info" %>&emsp;
        <%= link_to "退会する", users_withdraw_path, method: :patth, class: "btn btn-danger", data: {confirm: "本当に退会しますか？"} %>
      </div>
    </div>
  </div>
</div>
